<section class="panel">
    <header class="panel-heading">
        Your pages
    </header>
    <table class="table table-striped table-advance table-hover">
        <thead>
        <tr>
            <th>Page ID</th>
            <th class="hidden-phone"><i class="fa fa-question-circle"></i>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
              <td><a href="#">Vector Ltd</a></td>
              <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
              <td>
                  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
          </tr>
        </tbody>
  </table>
</section>
