<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <title>Blank</title>

    <%= stylesheet_link_tag  'application', @controller_asset_path, @view_asset_path, media: 'all', 'data-turbolinks-track' => true %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
          <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
          </div>
          <!--logo start-->
          <a href="index.html" class="logo" >injecta.<span>IO</span></a>
          <!--logo end-->

      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Logged as [renatodex]</span>
                      </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-folder-o"></i>
                      <span>Pages</span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-bolt"></i>
                      <span>Injectors</span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-user"></i>
                      <span>Account</span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-code"></i>
                      <span>Developers</span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-sign-out"></i>
                      <span>Sign out</span>
                    </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              <!-- page start-->

              <%= yield %>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 &copy; injecta.io
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', @controller_asset_path, @view_asset_path, 'data-turbolinks-track' => true %>
  </body>
</html>
